body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(to right,rgb(11, 11, 99),rgb(139, 139, 245));
}
.row{
    display: flex;
    justify-content: center;
}
#maindiv{
background-color: black;
color: aliceblue;
height: 350px;
width: 350px;
text-align: center;
border-radius: 20px;
box-shadow: 5px 4px 8px gold;
}
#heading{
    position: relative;
    top: 40px;
    font-size: 40px;
}
#btn{
    position: relative;
    background: linear-gradient(to right,rgb(11, 11, 99),rgb(139, 139, 245));
    border: none;
    border-radius: 10px;
    top: 60px;
    color: aliceblue;
    height: 50px;
    width: 150px;
    font-size: 21px;
}
#input{
    position: relative;
    top: 80px;
    height: 40px;
    width: 300px;
}
#para{
    color: aliceblue;
    display: inline-block;
    position: relative;
    top: 90px;
    font-size: 50px;
    background: linear-gradient(to right,rgb(7, 7, 80),rgb(19, 22, 8)); 
    border-radius: 10px;
}
#btn:hover{
    background: linear-gradient(to right,rgb(7, 7, 80),rgb(208, 240, 92)); 
    
}
